* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

div {
  width: 80%;
  height: 80vh;
  margin: 10vh auto;
  background: #ccc;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 3rem;
  transition: all ease 300ms;
}

.active {
  background: goldenrod;
  transform: scale(1.1);
}
