@use "tokens" as *;

@each $color-key, $color-map in $colors {
  @each $shade, $color-value in $color-map {
    $suffix: if($shade == "default", "", "-#{$shade}");
    .text-#{"" + $color-key}#{$suffix} {
      color: $color-value;
    }
    .bg-#{"" + $color-key}#{$suffix} {
      background-color: $color-value;
    }
    .border-#{"" + $color-key}#{$suffix} {
      border-color: $color-value;
    }
  }
}

@each $bp, $size in $breakpoints {
  @media (min-width: $size) {
    @each $color-key, $color-map in $colors {
      @each $shade, $color-value in $color-map {
        $suffix: if($shade == "default", "", "-#{$shade}");
        .#{$bp}\:text-#{"" + $color-key}#{$suffix} {
          color: $color-value;
        }
        .#{$bp}\:bg-#{"" + $color-key}#{$suffix} {
          background-color: $color-value;
        }
        .#{$bp}\:border-#{"" + $color-key}#{$suffix} {
          border-color: $color-value;
        }
      }
    }
  }
}